* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(141, 27, 61);
  background: radial-gradient(
    circle,
    rgba(141, 27, 61, 1) 0%,
    rgba(112, 28, 28, 1) 70%,
    rgba(141, 27, 61, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
}